.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 3px solid;
}

.error-message {
  color: red;
}

.activeFilter {
  background-color: #23b1a3;
}

.isDone {
  opacity: 0.5;
}